*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* background: skyblue; */
}

.container .header{
  background: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  padding-left: 50px;

}

.container .sidebar{
  background: #78155e;
  opacity: .85;
  /* padding: 50px; */
}

.container .content{
  padding: 50px;
  /* background: goldenrod; */
}

.container .user-sidebar{
  /* width: 200px; */
  /* margin: 0 auto; */
  text-align: center;
}
/* .container .user-img{
  width: 180px;
  height: 180px;
  border-radius:50%;
} */

.container .background-sidebar{
  width: 100%;
}

.container .options-sidebar{
  padding: 40px;
}

.container .options-sidebar .items{
  list-style: none;
  line-height: 40px;
  color: whitesmoke;
}
.container .options-sidebar .items:hover{
  opacity: .8;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #303030;
  color: #909090;
  text-align: center;
}